---
---

{% include head.html %}
		<main role="main">
		{% for post in site.posts %}
			<article>
				<h1><a href="{{ post.url }}">{{ post.title}}</a></h1>
				<p class="dateline"><time date time="{{ post.date | date: "%F" }}">Posted {{ post.date | date: "%b %-d, %Y" }}</time></p>
				{{ post.content }}
				{% if post %}
					{% assign categories = post.categories %}
				{% else %}
					{% assign categories = page.categories %}
				{% endif %}
				{% for category in categories %}
					{% if forloop.first %}
					<nav class="morelinks" aria-label="Category Links">MORE
						<ul>
					{% endif %}
							<li><a href="/{{category|slugize}}">{{category}}</a></li>
					{% if forloop.last %}
						</ul>
					</nav>
					{% endif %}
				{% endfor %}
			</article>
		{% endfor %}
		</main>
{% include footer.html %}