<body>
    <header role="banner">
        
        	<h1><a href="/" rel="home" title="to homepage">D<span style="font-variant: small-caps">ave</span> M<span style="font-variant: small-caps">c</span>L<span style="font-variant: small-caps">aughlin</span></a></h1>

        <nav>
        	<h2 class="hidden">Main Menu</h2>
            <ul>
            	<li><a href="#">Maps</a></li>
            	<li><a href="#">Photos</a></li>
				<li><a href="#">Links</a></li>
            	<li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>