		<footer>
			<p>
				<a href="/">davemaps.com</a> is the online home of <a href="/about">Dave McLaughlin</a>, web developer and GIS graduate student.
			{% if page.url == "/" or page.url == "/about" %}
				<a href="https://micro.blog/davemaps" rel="me">@davemaps on micro.blog</a>, <a href="https://twitter.com/davecreates">@davecreates on twitter</a>
			{% else %}
				<a href="https://micro.blog/davemaps">@davemaps on micro.blog</a>, <a href="https://twitter.com/davecreates">@davecreates on twitter</a>
			{% endif %}
			</p>
		</footer>
	
	</body>
</html>
