<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}">
	{% if page.url == "/" %}
		<title>davemaps.com &ndash; home of Dave McLaughlin</title>
	{% else %}
		<title>{{ page.title }} | davemaps.com</title>
	{% endif %}
		<link rel="canonical" href="https://davemaps.com/">
		{% feed_meta %}
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	    <header role="banner">
			<h1><a href="/" rel="home" title="to homepage">D<span style="font-variant: small-caps">ave</span> M<span style="font-variant: small-caps">c</span>L<span style="font-variant: small-caps">aughlin</span></a></h1>

			<nav>
				<h2 class="hidden">Main Menu</h2>
				<ul>
					<li><a href="/maps">Maps</a></li>
					<li><a href="/photos">Photos</a></li>
					<li><a href="/links">Links</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>