{% include head.html %}
		<main role="main">
			<article>
				<h1>{{ page.title }}</h1>
				<p class="dateline"><time date time="{{ page.date | date: "%F" }}">Posted {{ page.date | date: "%b %-d, %Y" }}</time></p>
				{{ content }}
				{% if post %}
					{% assign categories = post.categories %}
				{% else %}
					{% assign categories = page.categories %}
				{% endif %}
				{% for category in categories %}
					{% if forloop.first %}
					<nav class="morelinks" aria-label="Category Links">MORE
						<ul>
					{% endif %}
							<li><a href="/{{category|slugize}}">{{category}}</a></li>
					{% if forloop.last %}
						</ul>
					</nav>
					{% endif %}
				{% endfor %}
			</article>
		</main>
{% include footer.html %}